!!!
%html
  %head
    %meta{ content: 'text/html', charset: 'UTF-8', "http-equiv" => 'Content-Type'}
  %body
    %h1 #{@voter.name} is a bit of a hater!
    %p
      Hi #{@submitter.name},
      #{@voter.name} just hated your movie submission, #{@movie.title}. Sorry about that.